<div class="mat-app-background basic-container">
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                <li>
                    <button mat-button class="btn-create" [routerLink]="'/admin/service/createService'"
                        color="primary"><i class="material-icons">add_circle_outline</i>Service</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="DataSource" matSort matSortStart="desc">
            <ng-container matColumnDef="maDV">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Mã dịch vụ  </th>
                <td mat-cell *matCellDef="let element"> {{element.maDV}} </td>
            </ng-container>

            <ng-container matColumnDef="tenDV">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Tên dịch vụ </th>
                <td mat-cell *matCellDef="let element"> {{element.tenDV}} </td>
            </ng-container>

            <ng-container matColumnDef="dienTich">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Diện tích </th>
                <td mat-cell *matCellDef="let element"> {{element.dienTich}} </td>
            </ng-container>
            <ng-container matColumnDef="soTang">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Số tầng </th>
                <td mat-cell *matCellDef="let element"> {{element.soTang}} </td>
            </ng-container>
            <ng-container matColumnDef="maxPeople">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Số người tối đa </th>
                <td mat-cell *matCellDef="let element"> {{element.maxPeople}} </td>
            </ng-container>
            <ng-container matColumnDef="phiThue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Chi phí thuê </th>
                <td mat-cell *matCellDef="let element"> {{element.phiThue}} </td>
            </ng-container>
            <ng-container matColumnDef="kieuThue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Kiểu thuê </th>
                <td mat-cell *matCellDef="let element"> {{element.kieuThue}} </td>
            </ng-container>
            <ng-container matColumnDef="trangThai">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Trạng thái </th>
                <td mat-cell *matCellDef="let element"> {{element.trangThai}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> Action </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <mat-icon (click)="updateService(element.id)" class="action-button">edit</mat-icon>
                    <mat-icon (click)="deleteService(element.id)" class="action-button">delete_sweep</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
<div>
