<div class="mat-app-background basic-container">
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                <li>
                    <button mat-button class="btn-create" [routerLink]="'/admin/customer/createCustomer'"
                        color="primary"><i class="material-icons">add_circle_outline</i>Customer</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="DataSource" matSort matSortStart="desc">
            <ng-container matColumnDef="maKH">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Mã khách hàng  </th>
                <td mat-cell *matCellDef="let element"> {{element.maKH}} </td>
            </ng-container>

            <ng-container matColumnDef="hoTen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Họ và tên </th>
                <td mat-cell *matCellDef="let element"> {{element.hoTen}} </td>
            </ng-container>

            <ng-container matColumnDef="loaiKhach">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Loại khách </th>
                <td mat-cell *matCellDef="let element"> {{element.loaiKhach}} </td>
            </ng-container>
            <ng-container matColumnDef="sdt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Số điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{element.sdt}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headerTable"> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> Action </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <mat-icon (click)="updateCustomer(element.id)" class="action-button">edit</mat-icon>
                    <mat-icon (click)="deleteCustomer(element.id)" class="action-button">delete_sweep</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
<div>
